{% extends "blog/base.html" %}

{% block base_content %}
<style>
.col-center-block {
        float: none;
        display: block;
        margin: 0 auto;
        /* margin-left: auto; margin-right: auto; */
}
</style>


    <div class="col-xs-12 col-md-8 col-center-block">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h1 class="panel-title"><b>{{ article.title }}</b></h1>
            </div>
            <div class="panel-body text-center">
                <i><b>{{ article.author }}</b> 写于 <b>{{ article.create_date }}</b></i>
                <p>{{ article.body|safe }}</p>
                <br>
            </div>
    </div>
        {% include 'comment/comment_list.html' %}
</div>

{% endblock %}
